<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <route url="/" module="Test" action="index" auth="yes"/>
    <route url="/connection" module="Connection" action="connection" auth="no"/>
    <route url="/inscription" module="Connection" action="inscription" auth="no"/>
    <route url="/createuser" module="Connection" action="createUser" auth="no"/>
	
	<route auth="yes" action="afficher" module="Profil" url="/afficherprofil"/>
	<route auth="yes" action="modifier" module="Profil" url="/modifierprofil"/>
	
	<route url="/ajoutpersonne" module="Administration" action="ajoutpersonne" auth="no"/>
	<route url="/ajoutadherent" module="Administration" action="ajoutadherent" auth="no"/>
	<route url="/gestionroles" module="Administration" action="gestionroles" auth="no"/>
</routes>
