<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <route url="/" module="Test" action="index" auth="yes"/>
    <route url="/connection" module="Connection" action="connection" auth="no"/>
    <route url="/inscription" module="Connection" action="inscription" auth="no"/>
    <route url="/createuser" module="Connection" action="createUser" auth="no"/>
	<route url="/connectionajax" module="Connection" action="connectionAjax" auth="no"/>
	
	<route auth="yes" action="afficher" module="Profil" url="/afficherprofil"/>
	<route auth="yes" action="modifier" module="Profil" url="/modifierprofil"/>
	
	<route url="/ajoutpersonne" module="Administration" action="ajoutpersonne" auth="no"/>
	<route url="/ajoutadherent" module="Administration" action="ajoutadherent" auth="no"/>
	<route url="/gestionroles" module="Administration" action="gestionroles" auth="no"/>
	<route url="/returnroles" module="Administration" action="returnroles" auth="no"/>
	
	<route url="/valideparticipants" module="Administration" action="valideparticipants" auth="no"/>
	
	<route url="/ajoutcompetition" module="Competition" action="ajoutcompetition" auth="no"/>
	<route url="/affichecompetition" module="Competition" action="affichecompetition" auth="no"/>
	<route url="/listecompetitions" module="Competition" action="listecompetitions" auth="no"/>
	<route url="/modiftransport" module="Competition" action="modiftransport" auth="no"/>
	
	<route url="/ajoutequipage" module="Equipage" action="ajoutequipage" auth="no"/>
	<route url="/voirequipage" module="Equipage" action="voirequipage" auth="no"/>
	<route url="/gestioninvites" module="Equipage" action="gestioninvites" auth="no"/>
	<route url="/gestionparticipants" module="Equipage" action="gestionparticipants" auth="no"/>
	
	<route url="/ajoutbenevole" module="Benevole" action="ajoutbenevole" auth="no"/>
	<route url="/ajoutbenevoleofficiel" module="Benevole" action="ajoutbenevoleofficiel" auth="no"/>
	<route url="/listebenevoles" module="Benevole" action="listebenevoles" auth="no"/>
</routes>
