<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Si le fichier auquel on tente d'accéder existe (si on veut accéder à une image par exemple).
    # Alors on ne réécrit pas l'URL.
    RewriteCond %{REQUEST_FILENAME} !-f
    
    # Exemple de redirection si plusieurs applications sont gérée sur le même site
    # Par exemple, pour dissocier l'administration du site principal :
    # RewriteRule ^admin/ bootstrap.php?app=Backend [QSA,L]

    # Redirige toutes les autres requetes sur le Frontend
    RewriteRule ^(.*)$ bootstrap.php?app=Frontend [QSA,L]
</IfModule>
